<div data-widget="xSPTreeLight"></div>
    <div class="xwidget">
        <div class="modules">
            <link href="https://spexplorerjs.azurewebsites.net/node_modules/jstree/dist/themes/default/style.min.css" rel="stylesheet">
            <script type="text/javascript" src="https://spexplorerjs.azurewebsites.net/node_modules/jstree/dist/jstree.min.js"></script>
            <style type="text/css">
                .xfieldInfo {
                    list-style-type: none;
                }
            </style>
        </div>
        <script type="text/javascript" src="https://spexplorerjs.azurewebsites.net/components/sp/treelight.js"></script>
    </div>