<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body class='expjs'>
    <div id='editor' ></div>
    <script type="text/javascript" src="js/filesystem.js"></script>
    <button id='btnDir'>Open Directory</button>
    <audio id="audio_player"></audio>
    <img id='img1' />
  </body>
</html>
