<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body >
    <div style='min-height: 500px;'></div>
    <button>run</button>
    <script type="text/javascript" src="js/app3/vendor.js"></script>
    <script type="text/javascript" src="js/app3/page2.js"></script>
  </body>
</html>
