<!DOCTYPE html>
<html>
<head>
    <title>Components</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css">
        table {
            width: 95%;
        }
    [data-widget="xxmlmirror"], [data-widget="xjsmirror"]  { height: 250px; }
    </style>
</head>
<body>
    <h1>Components</h1>

    <a href="/">List Editor</a>
    <a href="/">List Selector</a>
    <a href="/components/mirrors/jsmirror.html">Js Mirror</a>
    <a href="/">Xml Mirror</a>

    <p>Welcome to version: <%= version %></p>
    <script type="text/javascript" src="/pages/index/index.min.js"></script>

    <b>Example #1</b>
    <table>
        <tr>
            <td>
                <b> Jsom </b>
                <div data-widget="xjsmirror">
                    <div class="jsmirrorstate">
                        console.log(spelem); // spelem: reference to selected node
                        console.log(caml()); //caml: function that returns xml in 'caml' editor

                        var list = spelem;
                        var ctx = list.get_context();
                        var query = new SP.CamlQuery();

                        query.set_viewXml(caml());
                        var items = list.getItems(query);

                        ctx.load(items);

                        ctx.executeQueryAsync(function(){
                        console.log(items.get_count());
                        });

                    </div>
                </div>
            </td>
            <td>
                <b>Caml</b>
                <div data-widget="xxmlmirror">
                    <div class="xmlmirrorstate">
                        &lt;View&gt;
                        &lt;Query&gt;
                        &lt;Where&gt;
                        &lt;Lt&gt;
                        &lt;FieldRef Name=&#39;Modified&#39; /&gt;
                        &lt;Value Type=&quot;DateTime&quot;&gt;
                        &lt;Today OffsetDays=&quot;-100&quot; /&gt;
                        &lt;/Value&gt;
                        &lt;/Lt&gt;
                        &lt;/Where&gt;
                        &lt;/Query&gt;
                        &lt;/View&gt;
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <b>Example #2</b>
    <table>
        <tr>
            <td>
                <b> Jsom </b>
                <div data-widget="xjsmirror">
                    <div class="jsmirrorstate">
// spelem: reference to selected node
// caml: function that returns xml in 'caml' editor

var list = spelem;
var ctx = list.get_context();
var dal = new spexplorerjs.listapi.dal(list);

var parseItem = function(item) {
    var n = item.get_fieldValues();
    return {
        title: n.Title || n.FileLeafRef,
        modified: n.Modified,
        created: n.Created,
        modifiedby: n.Modified_x0020_By,
        createdby: n.Created_x0020_By,
        url: n.FileRef
    };
};
dal.getItems(caml()).done(function(items) {
    var arr = [];
    items.forEach(function(item, i) {
        arr.push(parseItem(item));
    });
    console.log(arr);
});
                    </div>
                </div>
            </td>
            <td>
                <b>Caml</b>
                <div data-widget="xxmlmirror">
                    <div class="xmlmirrorstate">
&lt;View Scope=&#39;Recursive&#39;&gt;
    &lt;ViewFields&gt;
        &lt;FieldRef Name=&#39;Title&#39; /&gt;
        &lt;FieldRef Name=&#39;Modified&#39; /&gt;
        &lt;FieldRef Name=&#39;Modified_x0020_By&#39; /&gt;
        &lt;FieldRef Name=&#39;Created&#39; /&gt;
        &lt;FieldRef Name=&#39;Created_x0020_By&#39; /&gt;
        &lt;FieldRef Name=&#39;FileRef&#39; /&gt;
    &lt;/ViewFields&gt;
    &lt;Query&gt;
        &lt;Where&gt;

        &lt;/Where&gt;
    &lt;/Query&gt;
&lt;/View&gt;
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <script type="text/javascript" src="pages/caml.js"></script>
</body>
</html>
