<!DOCTYPE html>
<html>
<head>
    <title>Components</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Components</h1>

    <a href="/">List Editor</a>
    <a href="/">List Selector</a>
    <a href="/components/mirrors/jsmirror.html">Js Mirror</a>
    <a href="/">Xml Mirror</a>

    <p>Welcome to version: <%= version %></p>
    <script type="text/javascript" src="/pages/index/index.min.js"></script>

</body>
</html>
