<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1><%= title %></h1>

      <p>Welcome to version: <%= version %></p>
      <script type="text/javascript" src="/pages/index/index.min.js"></script>

      <div>

      </div>
  </body>
</html>
