<div>
    <div class="form-horizontal">
        <fieldset>
            <legend>File Report</legend>
            <p>Creates a report of files that match the query. Query is executed recursively from the selected list/web and all its childern.</p>
            <div class="form-group listSelector">
                <label class="col-md-2 control-label" for="textinput">List</label>
                <div class="col-md-10 listSelectorFirst">
                    <div data-widget="xSPTreeLight"></div>
                    <span class="help-block">Select an existing list/web.</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="textinput">Recursive</label>
                <div class="col-md-10 ">
                    <input type="checkbox" class="chkRecursive" />
                    <span class="help-block">Process sub webs</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="textinput">Query</label>
                <div class="col-md-10 smallQuery">
                    <div data-widget="xxmlmirror">
                        <div class="xmlmirrorstate">
                            &lt;View Scope=&#39;Recursive&#39;&gt;
                            &lt;Query&gt; &lt;Where&gt;
                            &lt;Lt&gt;
                                &lt;FieldRef Name=&#39;Modified&#39; /&gt;
                                &lt;Value Type=&quot;DateTime&quot;&gt;
                                    &lt;Today OffsetDays=&quot;-2190&quot; /&gt;
                                &lt;/Value&gt;
                            &lt;/Lt&gt;
                            &lt;/Where&gt;
                            &lt;/Query&gt;
                            &lt;ViewFields&gt;
                            &lt;FieldRef Name=&#39;Author&#39; /&gt;
                            &lt;FieldRef Name=&#39;Title&#39; /&gt;
                            &lt;FieldRef Name=&#39;Modified&#39; /&gt;
                            &lt;FieldRef Name=&#39;Modified_x0020_By&#39; /&gt;
                            &lt;FieldRef Name=&#39;Created&#39; /&gt;
                            &lt;FieldRef Name=&#39;Created_x0020_By&#39; /&gt;
                            &lt;FieldRef Name=&#39;FileRef&#39; /&gt;
                            &lt;/ViewFields&gt;
                            &lt;RowLimit&gt;1000&lt;/RowLimit&gt;
                            &lt;/View&gt;
                        </div>
                    </div>
                    <span class="help-block">Caml query to filter items.</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="textinput">Big List Query</label>
                <div class="col-md-10 bigQuery">
                    <div data-widget="xxmlmirror">
                        <div class="xmlmirrorstate">
                            &lt;View&gt;
                            &lt;ViewFields&gt;
                            &lt;FieldRef Name=&#39;Author&#39; /&gt;
                            &lt;FieldRef Name=&#39;Title&#39; /&gt;
                            &lt;FieldRef Name=&#39;Modified&#39; /&gt;
                            &lt;FieldRef Name=&#39;Modified_x0020_By&#39; /&gt;
                            &lt;FieldRef Name=&#39;Created&#39; /&gt;
                            &lt;FieldRef Name=&#39;Created_x0020_By&#39; /&gt;
                            &lt;FieldRef Name=&#39;FileRef&#39; /&gt;
                            &lt;/ViewFields&gt;
                            &lt;RowLimit&gt;1000&lt;/RowLimit&gt;
                            &lt;/View&gt;
                        </div>
                    </div>
                    <span class="help-block">Caml query to filter items.</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="textinput">Report Url</label>
                <div class="col-md-10 ">
                    <input type="text" class="form-control" />
                    <span class="help-block">Enter the name of the file that will be created when the report is saved.</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label"></label>
                <div class="col-md-10 ">
                    <button disabled="disabled" class="btnRunReport">Run</button>
                    <button style="display:none" class="btnCancel">Cancel</button>
                </div>
            </div>
        </fieldset>
    </div>
</div>