<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="sptreelabel">Select...</span>
        <span class="caret">
        </span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu1" style="z-index:1605">
        <div style="max-height:300px;overflow-y:auto" class='cc'>
            <div class="tree"></div>
        </div>
    </div>
</div>