<div>

    <div class="widgetInfo" style="font-size: small">customactions <span class="version">v0.1.2</span></div>
    <div class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Custom Action Editor</legend>

            <div class="form-group">
                <div class="col-lg-12 col-md-12">
                    <div class="actionSelector" data-widget="xSPCustomActionSelector"></div>
                    <span class="help-block">Select an existing custom action or list/web to add a new one.</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="textinput">Title</label>
                <div class="col-md-10">
                    <input id="Title" name="Title" data-get="get_title" type="text" placeholder="placeholder" class="form-control input-md" />
                    <span class="help-block">
                        A string that contains the title.
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="textinput">Sequence</label>
                <div class="col-md-10">
                    <input min="0" max="65536" id="Sequence" data-get="get_sequence" name="Sequence" type="number" placeholder="placeholder" class="form-control input-md">
                    <span class="help-block">
                        Its value must be equal to or greater than 0. Its value must be equal to or less than 65536.                                https://msdn.microsoft.com/en-us/library/office/microsoft.sharepoint.client.usercustomaction.sequence(v=office.15).aspx
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="textinput">Location</label>
                <div class="col-md-10">
                    <select id="Location" name="Location" class="form-control input-md" data-get="get_location">
                        <option>CommandUI.Ribbon.ListView</option>
                        <option>CommandUI.Ribbon.NewForm</option>
                        <option>CommandUI.Ribbon.EditForm</option>
                        <option>CommandUI.Ribbon.DisplayForm</option>
                        <option>CommandUI.Ribbon</option>
                        <option>ScriptLink</option>
                    </select>
                    <span class="help-block">Location</span>
                    https://msdn.microsoft.com/en-us/library/office/ee537543.aspx
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="textinput">Src</label>
                <div class="col-md-10">
                    <input id="Src" name="Src" type="text" placeholder="placeholder" class="form-control input-md" data-get="get_scriptSrc" />
                    <span class="help-block">help</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="textarea">Xml</label>
                <div class="col-md-10">
                    <div data-widget="xxmlmirror"></div>
                    <textarea class="form-control hidden hide" id="textarea" name="textarea">default text</textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="textinput">Permissions</label>
                <div class="col-md-10">
                    <div data-widget="spPermsSelector"></div>
                    <span class="help-block">Permissions</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="button1id"></label>
                <div class="col-md-10">
                    <button id="btnAdd" name="btnAdd" class="btn btn-success" type="button">Add/Update</button>
                    <button id="btnRemove" name="btnRemove" class="btn btn-danger" type="button">Remove</button>
                </div>
            </div>

        </fieldset>
    </div>

</div>
