<div class="xwidgetstate" style="display:none"></div>
<div class="xwidgetui">
    <div class="form-group listSelector">
        <label class="col-md-2 control-label" for="selectbasic">List</label>
        <div class="col-md-10">
            <div data-widget="xSPTreeLight"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="selectbasic">Custom Action</label>
        <div class="col-md-10">
            <select class='casDrp' style="width:100%"></select>
            <small>select 0.3.2</small>
        </div>
    </div>
</div>