<div class="xwidgetstate" style="display:none"></div>
<div class="xwidgetui">
    <div class="form-group listSelector">
        <label class="col-md-2 control-label" for="selectbasic">Container</label>
        <div class="col-md-10">
            <div data-widget="xSPTreeLight"></div>
            <span class="help-block">Select a list, web or site collection</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="selectbasic">Custom Action</label>
        <div class="col-md-10">
            <select class='casDrp' style="width:100%"></select>
            <div class="widgetInfo" style="font-size: small">caSelectror<span class="xversion"></span></div>
        </div>
    </div>
</div>