<div class="xwidgetstate" style="display:none"></div>
<style type="text/css">
    .select2-container {
        z-index: 1600 !important; /* modal sharepoint dialogs are 1500*/
    }
</style>
<div class="xwidgetui">
    <div class="itemTemplate" style="display: none">
        <b>{0}</b>
        <ul class='xItemInfo'>
            <li>Url : {1}</li>
            <li>Id: {2}</li>
        </ul>
    </div>
    <fieldset class="form-horizontal">
        <legend>[label]</legend>
        <div class="form-group">
            <label class="col-md-2 control-label" for="selectbasic">Field</label>
            <div class="col-md-10">
                <select class='xDrp' style="width: 100%"></select>
                <input type="checkbox" class="pushToSubSites" value="0"/>Set recursively
            </div>
        </div>

    </fieldset>
    <div class="widgetInfo" style="font-size: small">masterSelector<span class="xversion"></span></div>
</div>