<div class="xwidgetstate" style="display:none"></div>
<style type="text/css">
    .select2-container {
        z-index: 1600 !important; /* modal sharepoint dialogs are 1500*/
    }
</style>
<div class="xwidgetui">
    <fieldset class="form-horizontal">
        <legend>Web Properties</legend>
        <div class="title"></div>
        <div data-prop="MasterUrl"><div data-widget="xSpMastePageSelector"></div></div>
        <div data-prop="CustomMasterUrl"><div data-widget="xSpMastePageSelector"></div></div>

        <div class="form-group"  data-prop="UserCustomActions">
            <label class="col-md-2 control-label" for="selectbasic">Custom Actions</label>
            <div class="col-md-10">
                <div data-widget="spCustomActions"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <button type="button">Save</button>
            </div>
        </div>
    </fieldset>
    <div class="widgetInfo" style="font-size: small">webeditor<span class="xversion"></span></div>
</div>