<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Sp.List.Selector</title>
</head>
<body>


    <div class="spexp">
        <div data-widget="spListWidget">
        </div>
    </div>

    <div class="xwidget">
        <link href="https://localhost:8443/vendor/bootstrap/css/spexpbootstrap.css" rel="stylesheet" />
        <script data-check="window.jQuery" type="text/javascript" src="https://localhost:8443/node_modules/jquery/dist/jquery.min.js"></script>
        <script data-check="jQuery.fn.dropdown" type="text/javascript" src="https://localhost:8443/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script data-widget="https://localhost:8443/components/sp/smalls/sptreelight.html" src="https://localhost:8443/components/loader/loader.js?sptreelight" type="text/javascript"></script>
        <script data-check="xSolon['widgets'] && xSolon.widgets.xjsmirror" data-widget="https://localhost:8443/components/sp/smalls/jsmirror.html" src="https://localhost:8443/components/loader/loader.js?xjsmirror" type="text/javascript"></script>
        <script data-widget="https://localhost:8443/load/components/sp/smalls/customactions/customactions.local.html" src="https://localhost:8443/components/loader/loader.js?customactions" type="text/javascript"></script>

        <style type="text/css">
            .nav-tabs > li .close {
                margin: -2px 0 0 10px;
                font-size: 18px;
            }
        </style>

        <script type="text/javascript" src="list.selector.js"></script>
    </div>

</body>
</html>