<p>
    <ul class="nav nav-tabs hide" id="editorTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="editorJsTab" data-toggle="tab" href="#editorjsSection" role="tab"
                aria-controls="editorjsSection" aria-selected="true">TypeScript</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="editorXmlTab" data-toggle="tab" href="#editorxmlSection" role="tab"
                aria-controls="editorxmlSection" aria-selected="false">Xml</a>
        </li>
    </ul>
    <div class="tab-content hide" id="editorTabContent">
        <div class="tab-pane fade show active" id="editorjsSection" role="tabpanel" aria-labelledby="editorJsTab">
            <div id="jsMirror" style='min-height:600px'></div>
        </div>
        <div class="tab-pane fade" id="editorxmlSection" role="tabpanel" aria-labelledby="editorXmlTab">
            <div id="resultMirror"></div>
        </div>
    </div>
    <button id="btnRun">Run</button>
</p>