<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <div id='mirror' style='min-height: 500px;'></div>
    <button>run</button>
    <script type="text/javascript" src="js/filesystem.js"></script>
  </body>
</html>
