<div class="xwidgetstate" style="display:none"></div>
<div class="xwidgetui">
    <fieldset class="form-horizontal">
        <legend>[label]</legend>
        <div class="form-group listSelector">
            <label class="col-md-2 control-label" for="selectbasic">List</label>
            <div class="col-md-10">
                <div data-widget="xSPTreeLight"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="selectbasic">Field</label>
            <div class="col-md-10">
                <select class='fieldsDrp' style="width:100%"></select>
                <input type="checkbox" class="ereadonly" value="0" />Exclude read only
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="selectbasic">Field Schema</label>
            <div class="col-md-10">
                <div data-widget="xxmlmirror"></div>
                <small class="widgetinfo"></small>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="selectbasic">Scripting</label>
            <div class="col-md-10">
                <div data-widget="xjsmirror"></div>
                <small>Modify the field through JSOM (variable for field: spelem)</small>
            </div>
        </div>

    </fieldset>

</div>