<div class="xwidgetstate" style="display:none"></div>
<div class="xwidgetui">
    <fieldset class="form-horizontal">
        <legend>[label]</legend>
        <div class="form-group">
            <label class="col-md-2 control-label" for="selectbasic">List</label>
            <div class="col-md-10">
                <div data-widget="xSPTreeLight"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="selectbasic">Field</label>
            <div class="col-md-10">
                <select class='fieldsDrp' style="width:100%"></select>
            </div>
        </div>
        <input type="checkbox" class="ereadonly" value="0" />Exclude read only
        <small>fieldselect 0.3.2</small>
    </fieldset>

</div>