<div>
    <style type="text/css">
        .xxxnav-tabs > li .close {
            margin: -2px 0 0 10px;
            font-size: 18px;
        }
    </style>
    <div>
        <div class="form-horizontal">
            <fieldset>
                <legend>List Editor</legend>
                <div class="form-group listSelector">
                    <label class="col-md-2 control-label" for="textinput">List</label>
                    <div class="col-md-10 listSelectorFirst">
                        <div data-widget="xSPTreeLight"></div>
                        <span class="help-block">Select an existing list.</span>
                    </div>
                </div>
            </fieldset>
        </div>
        <br />
        <ul class="nav nav-tabs" style="max-height:40px">
            <li class="active"><a data-toggle="tab" href="#splistinfo">List Info</a></li>
            <li><a data-toggle="tab" href="#splistscripting">Scripting</a></li>
            <li><a data-toggle="tab" href="#splistcustomactions">Custom Actions</a></li>
            <li><a data-toggle="tab" href="#splistfiels">Fields</a></li>
        </ul>
        <div class="tab-content col-md-12">
            <div id="splistinfo" class="tab-pane fade in active">
                <div class="form-horizontal">
                    <fieldset>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Title</label>
                            <div class="col-md-10">
                                <input id="title" name="title" type="text" placeholder="placeholder" class="form-control input-md" />
                                <span class="help-block">
                                    A string that contains the title.
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textarea">Schema</label>
                            <div class="col-md-10">
                                <div class=" listschema">
                                    <div data-widget="xxmlmirror"></div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div id="splistscripting" class="tab-pane fade">
                <b>Script:</b>
                <div data-widget="xjsmirror"></div>

                <b>Caml Editor:</b>
                <div class="scriptCaml">
                    <div data-widget="xxmlmirror"></div>
                </div>
            </div>
            <div id="splistcustomactions" class="tab-pane fade">
                <div data-widget="spCustomActions"></div>
            </div>
            <div id="splistfiels" class="tab-pane fade">
                <div data-widget="xSPFieldSelector"></div>
            </div>
        </div>
    </div>
    <div class="widgetInfo" style="font-size: small">listeditor <span class="xversion"></span></div>
</div>