<div>
    <div class="col-md-2">
        <div data-widget="xSPTreeLight"></div>
    </div>
    <div class="col-md-10">
        <div data-widget="xjsmirror">
            <div class="jsmirrorstate">
                console.log(spelem); // spelem: reference to selected node
                console.log(caml()); //caml: function that returns xml in 'caml' editor

                var list = spelem;
                var ctx = list.get_context();
                var query = new SP.CamlQuery();

                query.set_viewXml(caml());
                var items = list.getItems(query);

                ctx.load(items);

                ctx.executeQueryAsync(function(){
                console.log(items.get_count());
                });

            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div data-widget="xxmlmirror">
            <div class="xmlmirrorstate">
&lt;View&gt;
    &lt;Query&gt;
        &lt;Where&gt;
            &lt;Lt&gt;
                &lt;FieldRef Name=&#39;Modified&#39; /&gt;
                &lt;Value Type=&quot;DateTime&quot;&gt;
                    &lt;Today OffsetDays=&quot;-100&quot; /&gt;
                &lt;/Value&gt;
            &lt;/Lt&gt;
        &lt;/Where&gt;
    &lt;/Query&gt;
&lt;/View&gt;
            </div>
        </div>
    </div>
</div>
