<div>
    <select multiple name="Permissions" class="form-control input-md">
        <option></option>
        <option value='1'>viewListItems</option>
        <option value='2'>addListItems</option>
        <option value='3'>editListItems</option>
        <option value='4'>deleteListItems</option>
        <option value='5'>approveItems</option>
        <option value='6'>openItems</option>
        <option value='7'>viewVersions</option>
        <option value='8'>deleteVersions</option>
        <option value='9'>cancelCheckout</option>
        <option value='10'>managePersonalViews</option>
        <option value='12'>manageLists</option>
        <option value='13'>viewFormPages</option>
        <option value='14'>anonymousSearchAccessList</option>
        <option value='17'>open</option>
        <option value='18'>viewPages</option>
        <option value='19'>addAndCustomizePages</option>
        <option value='20'>applyThemeAndBorder</option>
        <option value='21'>applyStyleSheets</option>
        <option value='22'>viewUsageData</option>
        <option value='23'>createSSCSite</option>
        <option value='24'>manageSubwebs</option>
        <option value='25'>createGroups</option>
        <option value='26'>managePermissions</option>
        <option value='27'>browseDirectories</option>
        <option value='28'>browseUserInfo</option>
        <option value='29'>addDelPrivateWebParts</option>
        <option value='30'>updatePersonalWebParts</option>
        <option value='31'>manageWeb</option>
        <option value='32'>anonymousSearchAccessWebLists</option>
        <option value='37'>useClientIntegration</option>
        <option value='38'>useRemoteAPIs</option>
        <option value='39'>manageAlerts</option>
        <option value='40'>createAlerts</option>
        <option value='41'>editMyUserInfo</option>
        <option value='63'>enumeratePermissions</option>
        <option value='65'>fullMask</option>
    </select>
</div>